version: '3.7'

services:

  nginx-proxy:
    container_name: nginx-proxy
    image: nginxproxy/nginx-proxy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs:ro
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
        
  letsencrypt:
    container_name: letsencrypt
    image: nginxproxy/acme-companion
    restart: always
    depends_on:
      - "nginx-proxy"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
      - certs:/etc/nginx/certs:rw
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html

volumes:
  certs:
  vhost:
  html:
  acme:

networks:
  default:
    external:
      name: main

# To add a website use this mockup
# www:
#    image: nginx
#    restart: always
#    expose:
#     - "80"
#    volumes:
#     - /home/portfolio:/usr/share/nginx/html:ro
#    environment:
#     - VIRTUAL_HOST=sebastianreyes.cl,www.sebastianreyes.cl
#     - LETSENCRYPT_HOST=sebastianreyes.cl,www.sebastianreyes.cl
#     - LETSENCRYPT_EMAIL=sebastian@sebastianreyes.cl